<?xml version="1.0" encoding="UTF-8"?>
<hostMonitor>
	<settings>
		<guiRows>10</guiRows>
		<maxThreads>100</maxThreads>
		<checkInterval>60</checkInterval>
		<pingAvgCount>10</pingAvgCount>
		<autoTraceRt>0</autoTraceRt>
		<logging>1</logging>
		<verbose>0</verbose>
		<rememberPos>0</rememberPos>
		<winX>0</winX>
		<winY>0</winY>
		<warnLatency>30</warnLatency>
		<hostPath></hostPath>
	</settings>
</hostMonitor>
